#header{
    background: #000;
    .navbar-toggler{
        outline: none;
    }
    #contact-info{
        ul{
            li{
                a{
                    i{
                        min-width: 25px;
                    }
                }
            }
        }
    }
}